<div class="footer">
			<div class="footer__inner">
				<div class="boundary clearfix">
					<div class="footer_left">
						<div class="footer_logo">
							<a href="javascript:;">
								<img src="./images/footer_logo.png" alt="爱捣蛋">
							</a>
						</div>
						<div class="footer_nav">
							<a href="/download">回到首页</a><span class="footer_sep">|</span><a href="/about">关于爱捣蛋</a><span class="footer_sep">|</span><a href="javascript:;">友情链接</a>
						</div>
						<div class="footer_copyright">2016 © 版权所有归站长@limama&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">www.idaodan.com</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;">学号12251101216</a></div>
					</div>
					<ul class="footer_left fr_link">
						<li><a href="#">游戏网</a></li>
						<li><a href="#">游戏网</a></li>
						<li><a href="#">游戏网</a></li>
						<li><a href="#">游戏网</a></li>
						<li><a href="#">游戏网</a></li>
						<li><a href="#">游戏网</a></li>
						<li><a href="#">游戏网</a></li>
						<li><a href="#">游戏网</a></li>
					</ul>
				</div>
			</div>
		</div>


	<script src="./js/libs/jquery-1.10.2.min.js"></script>
	<script src="./js/libs/comb_libs_min.js"></script>
	<script src="./js/plugins/jquery.dataTables.min.js"></script>
	<script src="./js/plugins/bootstrap.min.js"></script>
	<script src="./js/idaodanManage.js"></script>
</body>
</html>