<% include head.html %>
	
	

	<div class="main" ng-controller="vdaodanCtrl">

		<div class="icontent wrapper">

			<div class="mn clearfix">
				<div class="rowd">
					<div class="del-col-xs-12 no-border">
						<div class="itable-header" style="color:#e50541;">
							<a href="javascript:;" ng-if="!searchParam">
								<i class="fa fa-fire"></i>&nbsp&nbsp搞笑视频
							</a>
							<a href="javascript:;" ng-if="searchParam">
								<i class="fa fa-fire"></i>&nbsp&nbsp{{"搜索："+searchParam+"结果"}}
							</a>
						</div>
						<hr class="ihr">
							
						<ul class="ilist">
								
								<li ng-repeat="obj in ilists">
									<div class="iuser">
										<div class="u-img">
											<img ng-src="{{obj.profile_image}}">
										</div>
										<div class="u-text">
											<span class="u-name">{{obj.name}}</span>
											<span class="c-time pull-right">{{obj.create_time}}</span>
										</div>
									</div>
									<div class="i-list-c">
										<div class="t-desc">{{obj.text}}</div>
										<div class="i-c-p-img" ng-if="obj.type == 10">
											<img ng-src="{{obj.image1}}">
										</div>
										<div class="i-video-c" ng-if="obj.type == 41">
											<video ng-src="{{trustSrc(obj.video_uri)}}" preload="none" poster="/images/preload.jpg" controls="controls"></video>
										</div>
									</div>
									<div class="i-card-tool">
										<div class="tool-cell t-id">
											<span>
												<i class="fa fa-street-view"></i>&nbsp&nbsp{{obj.id}}
											</span>
										</div>
										<div class="tool-cell tool-l-h">
											<span>
												<i class="fa fa-thumbs-o-up"></i>&nbsp&nbsp{{obj.love}}
											</span>
											<span>
												<i class="fa fa-thumbs-o-down"></i>&nbsp&nbsp{{obj.hate}}
											</span>
										</div>
										<div class="tool-cell c-type">
											<span ng-if="obj.type == 29">
												<i class="fa fa-modx"></i>
												idaodan
											</span>
											<span ng-if="obj.type == 10">
												<i class="fa fa-ils"></i>
												pdaodan
											</span>
											<span ng-if="obj.type == 41">
												<i class="fa fa-video-camera"></i>
												vdaodan
											</span>

										</div>
									</div>
								</li>
						</ul>
						</div>
					</div>
				</div>
				<div class="r-nav">
					<div class="r-recommend clearfix">
						
						<h3>站长热推</h3>
						<ul class="my-rec">
							<li ng-repeat="list in reclist">
								<dl class="rc-card">
									<dt></dt>
									<dd>
										<img ng-src="{{list.img}}" alt="">
									</dd>
									<dd class='b-gray'>{{list.title}}</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
		<div class="clearfix"></div>
				<div class="i-size-tool">
					<ul class="stool">
						<li><a href="javascript:;" ng-click="gotop()"><i class="fa fa-arrow-up"></i></a></li>
						<li>
							<a href="javascript:;" class="i-sr"><i class="fa fa-search" ng-click="sShow()"></i></a>
							<span ng-if="isShow === 1">
								<input type="text" class="isearch" ng-model="sparam" >
								<i class="fa fa-close i-s-close" ng-click="sHide()"></i>
								<i class="fa fa-search i-s-search" ng-click="search()"></i>
							</span>
						</li>
						<li><a href="/i"><i class="fa fa-home"></i></a></li>
					</ul>	
				</div>
			<div class="f-c">
				<div class="ipage text-center">
					<span class="pre"><i class="fa fa-backward" ng-click="prePage()"></i></span>
					<!-- <span ng-if="page" class="pre disable"><i class="fa fa-backward"></i></span> -->
					<span class="tip" style="left: 20px">第</span>
					<input type="text" ng-model="page" placeholder="请输入">
					<!-- <span ng-if="page" class="next disable" disabled="disabled"><i class="fa fa-forward"></i></span> -->
					<span class="next" ng-click="nextPage()"><i class="fa fa-forward"></i></span>
					<span class="tip" style="right: 35px">页</span>
					<i class="fa fa-paper-plane" ng-click="pageTo()"></i>
				</div>
			</div>
			
		</div>
		<div class="clearfix"></div>

		<% include footer.html %>

